{% extends 'base.html' %}
{% block title %}
    Página de inicio
{% endblock %}
{% block content %}

<div class="container-fluid">
    <nav class="navbar navbar-light justify-content-between">
                
        <div class="d-flex align-items-center">
            <form class="form-inline d-flex" action="" method="get">
                <input class="form-control" type="text" name="search_query" placeholder="Buscar">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
            </form>
        </div>
        
        <div class="d-flex">
            <a class="navbar-brand" href="#">
                <i class="bi bi-cart bi-lg"></i>
            </a>
        </div>
    </nav>
</div>

<div class="d-flex justify-content-start">
    {% for category in categories %}
        <a class="m-2 btn btn-light" href="?category={{ category.name }}">{{ category.name }}</a>
    {% endfor %}
</div>


<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" height="240" src="{{ product.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
                    <p class="card-text">{{ product.excerpt }}</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include "tienda/paginacion.html" %}
    </div>
</div>

{% include 'tienda/sidebar.html' %}
{% endblock %}