{% load i18n %}

{% autoescape off %}
    {% blocktrans %}Hola,
    
    Has recibido este correo porque has solicitado restablecer tu contraseña. Haz clic en el enlace de abajo para continuar con el proceso de restablecimiento de contraseña:
    {% endblocktrans %}
    
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    
    {% blocktrans %}Si no has solicitado restablecer tu contraseña, puedes ignorar este correo y nada cambiará en tu cuenta.{% endblocktrans %}
{% endautoescape %}
